<!DOCTYPE html>
<html>
<head>
    <title>Monster Slayer</title>
    <script src="https://npmcdn.com/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="css/foundation.min.css">
    <link rel="stylesheet" href="css/app.css">
    <meta property="og:url" content="http://qawww6.ziprealty.com/app/xxx" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Find your home with Coldwell Banker." />
    <meta property="og:description" content="With the Coldwell Banker mobile app, you can browse the latest listings, save homes, and stay connected to your home search on the go." />
    <meta property="og:image" content="https://lh3.googleusercontent.com/kdLPwpHP3yk3Cx2VmE7vgsP01kuj6fiCj6aNT-Rqux7W9LSZqK5Gd5W03QtdQsnqdCc" />
    
    <script type="text/javascript" src="//platform.linkedin.com/in.js">
      api_key: 861060ge5k144f
      authorize: true
      onLoad: onLinkedInLoad
    </script>

    <script type="text/javascript">

      // Setup an event listener to make an API call once auth is complete
        function onLinkedInLoad() {
          IN.Event.on(IN, "auth", shareContent);
        }

      // Handle the successful return from the API call
      function onSuccess(data) {
        console.log(data);
      }

      // Handle an error response from the API call
      function onError(error) {
        console.log(error);
      }

      // Use the API call wrapper to share content on LinkedIn
      function shareContent() {
        debugger;
        // Build the JSON payload containing the content to be shared
        var payload = {
          "comment": "Check out developer.linkedin.com!",
          "content": {
            "title": "LinkedIn Developers Resources",
            "description": "Leverage LinkedIn's APIs to maximize engagement",
            "submitted-url": "https://developer.linkedin.com",  
            "submitted-image-url": "https://example.com/logo.png"
          },
          "visibility": {
            "code": "anyone"
          }  
        };

        IN.API.Raw("/people/~/shares?format=json+w_share")
          .method("POST")
          .body(JSON.stringify(payload))
          .result(onSuccess)
          .error(onError);
      }

    </script>

</head>
<body>
    <div id="fb-root"></div>
    <script>
        window.fbAsyncInit = function() {
            FB.init({
                appId            : '214168996093085',
                status           : true,
                cookie           : true,
                version          : 'v3.0'                
            });
            
            var shareButton = document.querySelector("div.ui.facebook.button");
            
            shareButton.addEventListener('click', function () {
                FB.ui(
                  {
                    method: 'share',
                    href: 'https://rodwyn.github.io/my-pokemon-stadium/',
                  },
                  // callback
                  function(response) {
                    console.log(response);
                  }
                );
            });
        };
        
        (function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = 'https://connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v3.0';
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
<div id="app">
    <section class="row">
        <div class="small-6 columns">
            <h1 class="text-center">YOU</h1>
            <div class="healthbar">
                <div
                class="healthbar text-center"
                style="background-color: green; margin: 0; color: white;"
                :style="{width: playerHealth + '%'}">
                  {{ playerHealth }}
                </div>
            </div>
        </div>
        <div class="small-6 columns">
            <h1 class="text-center">MONSTER</h1>
            <div class="healthbar">
                <div
                class="healthbar text-center"
                style="background-color: green; margin: 0; color: white;"
                :style="{width: monsterHealth + '%'}">
                  {{ monsterHealth }}
                </div>
            </div>
        </div>
    </section>
    <section class="row controls" v-if="!gameIsRunnig">
        <div class="small-12 columns">
            <button id="start-game" @click="startGame">START NEW GAME</button>
        </div>
    </section>
    <section class="row controls" v-else>
        <div class="small-12 columns">
            <button id="attack" @click="attack">ATTACK</button>
            <button id="special-attack" @click="specialAttack">SPECIAL ATTACK</button>
            <button id="heal" @click="heal">HEAL</button>
            <button id="give-up" @click="giveUp">GIVE UP</button>
        </div>
    </section>
    <section class="row log" v-if="turns.length > 0">
        <div class="small-12 columns">
            <ul>
                <li
                  v-for="turn in turns"
                  :class="{'player-turn': turn.isPlayer, 'monster-turn': !turn.isPlayer}">
                    {{ turn.text }}
                </li>
            </ul>
        </div>
    </section>
</div>
    <script type="in/Login"></script>
    
    <!--<script src="//platform.linkedin.com/in.js" type="text/javascript"> lang: en_US</script>
    <script type="IN/Share" data-url="https://rodwyn.github.io"></script>-->
    <h1>Button</h1>
    <div class="ui facebook button"><span class="icon-upload"></span>Share on Facebook</div>
<script src="js/app.js"></script>
</body>
</html>
